@media (max-width: 1024px) {
    .logo-img {
        width: 40px;
        height: 40px;
    }
    nav.main-nav a {
        font-size: 22px;
    }
    .mobile-menu-btn {
        display: flex; 
        place-items: center;
    }
    nav.main-nav {
        display: none;
    }
    nav.mobile-nav {
        display: flex;
    }
    .sq-card {
        flex: 1 1 calc(50% - 15px);
    }
    .hero-new {
        flex-direction: column;
    }
}

@media (min-width: 1024px) {
    .hero h1 {
        font-size: 3.75rem;
    }
    .featured h2 {
        font-size: 3rem;
    }
    .books-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 640px) {
    .logo-img {
         width: 60px;
        height: 60px;
    }
    .login-img, .register-img {
        width: 32px;
        height: 32px;
    }

    .login-text, .register-text {
        display: none;
    }
    .hero {
        padding: 6rem 1rem;
    }
    .hero h1 {
        font-size: 3rem;
    }
    .sq-card {
        flex: 1 1 100%;
    }
    .subscribe-box {
        padding: 2rem 1rem;
    }
    .sec-title {
        font-size: 22px;
    }
    .sec-link {
        font-size: 16px; 
    }
}

@media (min-width: 640px) {
    .featured h2 {
        font-size: 2.25rem;
    }
    .books-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .placeholder-content h1 {
        font-size: 3rem;
    }
}